<!DOCTYPE html>
<html>
  <head>
    <title>YallTube</title>
    <link rel=icon href="<%= image_url('favicon.png') %>">
    <meta property="og:title" content="YallTube" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://yalltube.herokuapp.com/" />
    <meta property="og:image" content="<%= image_url('video_player_screenshot.png') %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
